<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="WSGI_ALT_VIRTUALENV_HANDLER" value="wsgi.application" />
    <add key="WSGI_ALT_VIRTUALENV_ACTIVATE_THIS"
         value="D:\home\site\wwwroot\env\Scripts\activate_this.py" />
    <add key="WSGI_HANDLER"
         value="ptvs_virtualenv_proxy.get_virtualenv_handler()" />
    <add key="WSGI_LOG" value="D:\home\site\wwwroot\log.txt" />
    <add key="PYTHONPATH" value="D:\home\site\wwwroot" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="PythonHandler" path="handler.fcgi" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\Python27\python.exe|D:\home\Python27\wfastcgi.py" resourceType="Unspecified" requireAccess="Script"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="CSS Files" stopProcessing="true">
          <match url="^css/(.*)" ignoreCase="false" />
          <action type="Rewrite" url="env/Lib/site-packages/isso/css/{R:1}" appendQueryString="true" />
        </rule>
        <rule name="IMG Files" stopProcessing="true">
          <match url="^img/(.*)" ignoreCase="false" />
          <action type="Rewrite" url="env/Lib/site-packages/isso/img/{R:1}" appendQueryString="true" />
        </rule>
        <rule name="Configure Python" stopProcessing="true">
          <match url="(.*)" ignoreCase="false" />
          <serverVariables>
            <set name="HTTP_X_FORWARDED_FOR" value="{REMOTE_ADDR}" replace="true"/>
          </serverVariables>
          <action type="Rewrite" url="handler.fcgi/{R:1}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>